In [1]:

%pprint
import sys
sys.path.insert(1, '../py')

Pretty printing has been turned OFF

In [2]:

from notebook_utils import NotebookUtilities
from scrape_utils import WebScrapingUtilities
from pandas import DataFrame
import os
import os.path as osp
import random
import re
import logging

nu = NotebookUtilities(
    data_folder_path=osp.abspath('../data'),
    saves_folder_path=osp.abspath('../saves')
)
wsu = WebScrapingUtilities(
    s=nu,
    secrets_json_path=osp.abspath(osp.join(nu.data_folder, 'secrets', 'itm_secrets.json'))
)


# Parse Domain Documents for Entities

Downloaded all documents from https://nextcentury.atlassian.net/wiki/spaces/ITMC/pages/2991849482/Domain+Documents and converted them all to PDF files and stored them in the data folder.

In [3]:

logging.basicConfig(stream=sys.stdout, level=logging.INFO)
logging.getLogger().addHandler(logging.StreamHandler(stream=sys.stdout))

pdf_folder = '../data/Domain_Knowledge'
black_list = ['.ipynb_checkpoints', '$Recycle.Bin', '.git']


## Option 1: Use a Hugging Face NER model

In [4]:

from transformers import pipeline, AutoModelForTokenClassification, AutoTokenizer

# Named entity recognition pipeline, passing in a specific model and tokenizer
model = AutoModelForTokenClassification.from_pretrained('dbmdz/bert-large-cased-finetuned-conll03-english')
tokenizer = AutoTokenizer.from_pretrained('bert-base-cased')
token_classifier = pipeline('ner', model=model, tokenizer=tokenizer)

# Example usage
sentence = 'Barack Obama was the 44th President of the United States.'
tokens = token_classifier(sentence)
print(tokens)

Some weights of the model checkpoint at dbmdz/bert-large-cased-finetuned-conll03-english were not used when initializing BertForTokenClassification: ['bert.pooler.dense.weight', 'bert.pooler.dense.bias']
- This IS expected if you are initializing BertForTokenClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForTokenClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

[{'entity': 'I-PER', 'score': 0.9988381, 'index': 1, 'word': 'Barack', 'start': 0, 'end': 6}, {'entity': 'I-PER', 'score': 0.9994398, 'index': 2, 'word': 'Obama', 'start': 7, 'end': 12}, {'entity': 'I-LOC', 'score': 0.9983613, 'index': 10, 'word': 'United', 'start': 43, 'end': 49}, {'entity': 'I-LOC', 'score': 0.9920671, 'index': 11, 'word': 'States', 'start': 50, 'end': 56}]


## Option 2: Use SpaCy

In [5]:

import spacy

# Load the spaCy model
try: nlp = spacy.load('en_core_web_sm')
except OSError as e:
    print(str(e).strip())
    command_str = f'{sys.executable} -m spacy download en_core_web_sm --quiet'
    print(command_str)
    !{command_str}
    nlp = spacy.load('en_core_web_sm')
import en_core_web_sm
nlp = en_core_web_sm.load()

# Example usage
sentence = 'Barack Obama was the 44th President of the United States.'
doc = nlp(sentence)
print([{'text': word.text, 'tag_': word.tag_, 'ent_type_': word.ent_type_, 'pos_': word.pos_} for word in doc])
print([{'text': ent.text, 'label_': ent.label_} for ent in doc.ents])

[{'text': 'Barack', 'tag_': 'NNP', 'ent_type_': 'PERSON', 'pos_': 'PROPN'}, {'text': 'Obama', 'tag_': 'NNP', 'ent_type_': 'PERSON', 'pos_': 'PROPN'}, {'text': 'was', 'tag_': 'VBD', 'ent_type_': '', 'pos_': 'AUX'}, {'text': 'the', 'tag_': 'DT', 'ent_type_': '', 'pos_': 'DET'}, {'text': '44th', 'tag_': 'JJ', 'ent_type_': 'ORDINAL', 'pos_': 'ADJ'}, {'text': 'President', 'tag_': 'NNP', 'ent_type_': '', 'pos_': 'PROPN'}, {'text': 'of', 'tag_': 'IN', 'ent_type_': '', 'pos_': 'ADP'}, {'text': 'the', 'tag_': 'DT', 'ent_type_': 'GPE', 'pos_': 'DET'}, {'text': 'United', 'tag_': 'NNP', 'ent_type_': 'GPE', 'pos_': 'PROPN'}, {'text': 'States', 'tag_': 'NNP', 'ent_type_': 'GPE', 'pos_': 'PROPN'}, {'text': '.', 'tag_': '.', 'ent_type_': '', 'pos_': 'PUNCT'}]
[{'text': 'Barack Obama', 'label_': 'PERSON'}, {'text': '44th', 'label_': 'ORDINAL'}, {'text': 'the United States', 'label_': 'GPE'}]


## Extract the text from PDFs and load it into documents

In [6]:

# Get text from PDFs
if nu.pickle_exists('domain_knowledge_sentences_dict'):
    domain_knowledge_sentences_dict = nu.load_object('domain_knowledge_sentences_dict')
else:
    from PyPDF2 import PdfReader
    def convert(file_path, verbose=False):
        """
        Convert PDF, return its text content as a string
        """
        text = ''
        with open(file_path, 'rb') as file:
            pdf_reader = PdfReader(file)
            for page_number in range(len(pdf_reader.pages)):
                page = pdf_reader.pages[page_number]
                text += page.extract_text()
        if verbose: print(f'Text length for {file_path} is {len(text):,} characters.')

        return text
    domain_knowledge_sentences_dict = {}
    for sub_directory, directories_list, files_list in os.walk(pdf_folder):
        if all(map(lambda x: x not in sub_directory, black_list)):
            for file_name in files_list:
                if file_name.endswith('.pdf'):
                    file_path = osp.join(sub_directory, file_name)
                    text = convert(file_path)
                    domain_knowledge_sentences_dict[file_path] = text
    nu.store_objects(domain_knowledge_sentences_dict=domain_knowledge_sentences_dict)

In [7]:

import pandas as pd

# load documents
if nu.csv_exists('domain_doc_ners_df'): domain_doc_ners_df = nu.load_data_frames(domain_doc_ners_df='domain_doc_ners_df')['domain_doc_ners_df']
else:
    entities = []
    for file_path, text in domain_knowledge_sentences_dict.items():
        text_length = len(text)
        # print(f'Text length for {file_path} is {text_length:,} characters.')
        
        # Prepare to join subword tokens back together and keep track of entity and score
        output_words = []
        current_word = ''
        current_entities = []
        current_scores = []
        
        # Extract metadata from entity recognition pipeline and add it as a row dictionary to the entities rows list
        tokens = token_classifier(text)
        for metadata_dict in tokens:
            current_entities.append(metadata_dict['entity'])
            current_scores.append(metadata_dict['score'])
            if metadata_dict['word'].startswith('##'):
                current_word += metadata_dict['word'][2:]
            else:
                
                # Take the mode of entities and average of scores for the current_word
                if current_word:
                    mode_entity = pd.Series(current_entities).mode().tolist()[0]
                    mean_score = pd.Series(current_scores).mean()
                    entity_tuple = (current_word, mode_entity, mean_score)
                    output_words.append(entity_tuple)
                    current_word = ""
                    current_entities = []
                    current_scores = []
                
                entity_tuple = (metadata_dict['word'], metadata_dict['entity'], metadata_dict['score'])
                output_words.append(entity_tuple)
        
        # Take the mode of entities for the last current_word
        if current_word:
            mode_entity = pd.Series(current_entities).mode().tolist()[0]
            mean_score = pd.Series(current_scores).mean()
            entity_tuple = (current_word, mode_entity, mean_score)
            output_words.append(entity_tuple)
        
        for word, entity, score in output_words:
            metadata_dict = {'bert_word': word, 'bert_entity': entity, 'bert_score': score, 'file_path': file_path}
            entities.append(metadata_dict)

        # Extract SpaCy named entities and add them as a row dictionary to the entities rows list
        if text_length <= nlp.max_length:
            doc = nlp(text)
            entities.extend([
                {'file_path': file_path, 'nlp_word': word.text, 'nlp_tag': word.tag_, 'nlp_type': word.ent_type_, 'nlp_pofs': word.pos_}
                for word in doc
            ])
            entities.extend([
                {'file_path': file_path, 'ent_phrase': ent.text, 'ent_type': ent.label_, 'ent_start': ent.start_char, 'ent_end': ent.end_char}
                for ent in doc.ents
            ])
    domain_doc_ners_df = DataFrame(entities)
    nu.save_data_frames(domain_doc_ners_df=domain_doc_ners_df)

Attempting to load /mnt/c/Users/DaveBabbitt/Documents/GitHub/itm-analysis-reporting/saves/pkl/domain_doc_ners_df.pkl.
No pickle exists - attempting to load /mnt/c/Users/DaveBabbitt/Documents/GitHub/itm-analysis-reporting/saves/csv/domain_doc_ners_df.csv.

In [8]:

# Check that all the subword tokens are gone
print(domain_doc_ners_df.columns.tolist())
mask_series = domain_doc_ners_df.bert_word.map(lambda x: str(x).startswith('##'))
df = domain_doc_ners_df[mask_series]
if (df.shape[0] >= 4): display(df.sample(4).dropna(axis='columns', how='all').T)

['bert_word', 'bert_entity', 'bert_score', 'file_path', 'nlp_word', 'nlp_tag', 'nlp_type', 'nlp_pofs', 'ent_phrase', 'ent_type', 'ent_start', 'ent_end']

In [9]:

# Check that you indeed have only strings among the BERT entities
import numpy as np

mask_series = domain_doc_ners_df.bert_entity.isnull()
sorted(domain_doc_ners_df[~mask_series].bert_entity.tolist(), key=lambda x: len(str(x)), reverse=False)[:10]

['I-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'I-ORG']


## Explore the entity columns

In [21]:

for entity, entity_df in domain_doc_ners_df.groupby('bert_entity'):
    texts_list = sorted(entity_df.bert_word.unique())
    print()
    print(entity, random.sample(texts_list, min(len(texts_list), 50)))

I-LOC ['Drive', 'St', 'OLSBY', 'Gordon', 'Road', 'Asia', 'Kansas', 'New', 'anile', '21st', 'M', 'Philippines', 'Sai', 'Einstein', 'Yard', 'Falls', 'Pacific', 'Baltimore', 'Vietnam', 'Lee', 'Seoul', 'Val', 'Pearl', 'First', 'esda', 'San', 'ébert', 'sburg', 'ANET', 'Spain', 'Delaware', 'Glen', 'eutral', 'Zealand', 'ville', 'ERICA', 'Det', 'inia', 'Street', 'State', 'rgent', 'Philadelphia', 'and', 'Antonio', 'BC', 'MA', 'g', 'Washington', 'Charleston', 'J']

I-MISC ['iformed', 'Nazi', '-', 'Military', 'States', 'Vietnamese', 'AZI', 'AC', 'Model', 'UMANITARIAN', 'Swan', 'Democracy', 'War', 'UM', 'A', 'LITYSICI', 'Territories', 'LITID', 'Con', 'Bell', 'o', 'Jew', 'Prussian', 'OHC', 'E', 'G', 'Napoleonic', 'Western', 'Gulf', 'Experiment', 'sville', 'ins', 'Pat', 'Desert', 'L', 'UMANITARIA', 'J', 'Semi', 'mmde', 'Walt', 'All', 'mitatus', 'drome', 'Andrew', 'chau', 'Social', 'With', 'AT', 'SE', 'Art']

I-ORG ['NKLIN', 'OLLMAR', 'P', 'Ping', 'Division', 'LITEHABIL', 'II', 'Command', 'Gold', 'Abbott', 'Clinical', 'Socialist', 'Sixth', 'She', 'NY', 'MERON', 'EMY', 'Aid', 'and', 'Safe', 'VO', 'Integration', 'CH', 'AMP', 'havioral', 'paraiso', 'NEVA', 'Mutual', 'für', 'Company', 'LGIDIOL', 'relief', 'TCCC', 'AVY', 'Centre', 'Laboratory', 'Charles', 'Ms', 'OLL', 'City', 'Loyola', 'HOMIC', 'PCIANER', 'Aviation', 'ME', 'IG', 'water', '264', 'jury', 'Protection']

I-PER ['V', 'OROSO', 'Jensen', 'H', 'Pa', 'Thomas', 'STOPHER', 'Trip', 'Dominique', 'OWE', 'de', 'NE', 'WA', 'Is', 'Sa', 'ey', 'F', 'W', 'Don', 'Shawn', 'Montgomery', 'OMINICK', 'ERER', 'ENDON', 'RIBBIN', 'Kyle', 'berg', 'EPHENS', 'McGuire', 'tten', 'As', 'AD', 'Sal', 'L', 'Ra', 'ITHSICI', 'GUYEN', 'rook', 'INDY', 'ER', 'Hi', 'VI', 'Matthew', 'Ben', 'IN', 'AL', 'Papal', 'IS', 'UCAS', 'Y']


## Explore the entity type columns

In [11]:

words_list = sorted([str(w) for w in domain_doc_ners_df.nlp_type.unique()])
print(random.sample(words_list, min(len(words_list), 100)))

['MONEY', 'PERSON', 'LAW', 'PERCENT', 'PRODUCT', 'WORK_OF_ART', 'ORDINAL', 'DATE', 'LOC', 'EVENT', 'ORG', 'GPE', 'FAC', 'TIME', 'NORP', 'QUANTITY', 'CARDINAL', 'LANGUAGE', 'nan']

In [20]:

for entity, entity_df in domain_doc_ners_df.groupby('nlp_type'):
    texts_list = sorted([str(w) for w in entity_df.nlp_word.unique()])
    print()
    print(entity, random.sample(texts_list, min(len(texts_list), 50)))

CARDINAL ['267', '5%.33', '144–145', '812', '103–124', '1918;47:618', 'approximately', '185', '783', '18.23.4', '775', '1977;4:41–50', '355', '2009;24(1):51–56', '1125/', '2000;May(374):36–46', '52–88', '1.11.4', '1987;17(2):119–132', '1985;98(2):310', '2007;87:157–184', '2007;172(11', '14c(2)(a)(i', '264', '2010;76:71–81', '1984;149:537–541', 'scriptural-', '581', 'three', '2002;24(2):228–247', '2005;9:416–422', '2.2', '45–73', '749', '25.9', '289', '3.5', '1–23', '2013;13(1):77–85', '441', '2.5.4', '209–243', '297', '1984;44(5):24–26', '1993;38(3):542–553', '219.116', '839', 'additional', '1998;24(2):32', '2003;74(4):309–314']

DATE ['1127', 'prior', '2012–2017', '1995;274(10):826–829', 'eighteenth', '2074', '74%,22', '640', '48', '1939', '1989;11(4):7–9', '3331', 'one', '410', '2020', '2381', '1825', '21204', '69', '1996:1', '7', '39', 'school', '1864', 'coming', '1978;8(2', '.', '1991', '1986;8(2):63–73', '1892', 'Middle', 'sixties', '4301', '13', 'Only', '77', '1101', '1938–1978', '1432', 'Exhibit', '1992', 'Protocol', '29', 'mer', 'present', '1982', '2013', '1910', '1537', '81']

EVENT [',', 'Holocaust', 'Meloxicam', 'I.', 'II.6,14', 'Great', '9', 'Nov', 'Ban', 'Total', 'CURRENT', 'OIF', 'Olympic', 'Personnel', 'TACTICAL', 'First', 'ICCPR', 'Unfortunately', 'X', 'World', 'Revolution', 'Illnesses', 'Hour', 'Storm', 'BIOMEDICAL', 'Years', 'Life', 'Independence', '\n \n', ']', 'Assistance', '17', 'Art', 'J', 'Conference', 'Centures', 'French', 'II.48', 'convention', 'period.5,6', 'Russian', 'Care', 'Who', 'deployment', 'Civilians', '\n', 'Ethics', 'Dubois', 'knowl-', 'Sciences']

FAC ['2/3', 'Reich', 'Reservoir', 'MANAGEMENT', '7', 'Natick', 'Recent', 'Washington', '−', 'Intermediate', 'Palace', '731', 'O8', 'Ridge', 'TXA', 'The', 'Senna', 'Dengue', 'Repository', 'Albala', 'PCB', 'Territories', 'Buehring', 'Optimization', 'Tzu', 'Occipital', 'Nalaxone', 'Air', 'Operation', 'EG', 'Medicine', 'torture.53–55', 'Occupied', 'Uden', 'CODE2', 'Transport', 'Euthanasia', '4(4', 'Religious', 'Cano', 'Ceftriaxone', 'Pain', 'Anterior', 'Pellegrino', 'Khabarovsk', 'Guantanamo', 'Pillage', 'for', 'Unit', 'CREDIBILITY']

GPE ['Decatur', 'Greenwich', 'Barbara', '131st', 'criteria.29(p332', 'Dimiceli', 'Christiani', 'US', 'latex', 'Vannevar', 'Brookline', 'Gilkey', 'Sydney', 'Langdorf', 'Humanitarian', 'Dallas', 'Fayetteville', 'Neurology', 'Bordes', 'Torture', 'Ash', '1970;20(10):11', 'effectively.5', 'Splinting', 'sian', 'Gorenflo', 'Deployment', 'Greensburg', 'vador', 'McLaughlin', 'Opiate', 'Gaithersburg', 'combat.49(pp50–60,72–74', 'Gans', 'Guangzhou', 'PSR', 'hematoma', 'SL', 'Remo', 'Multimethod', 'Todesfälle', 'Kant', 'CE', 'manner.15,16', 'RK', 'Academy', 'Nagasaki', 'Fallujah', 'Hanoi', 'Morgue']

LANGUAGE ['English', 'Latin', 'Chinese', 'French', 'stress35', 'Gironda', 'Arabic', 'Hebrew', 'stages13', 'Spanish', 'adaptation.39,40', 'Filipino']

LAW ['Bastion', 'X', 'BETWEEN', 'Act', '23(3', 'Annex', 'ENVIRONMENTAL', 'Medicine', '111', 'BOOTY', 'APS', '1(4', ')', 'Plan', 'Universal', 'PM', '2(7', 'PROPERTY', '\n \n \n \n \n', 'Moral', '1947', '75', 'Economic', 'BWC', '23a', 'Law', '130', 'Fire', 'CRIMES', '30', 'VII', '4A', '119', '106', 'Missile', '13139', ':', '52(3', '1906', 'Delaney', '4(2', '110', 'Quadruple', '119a', '103', '1949', 'dereliction', '36', '125', 'Office']

LOC ['Area', 'NW', 'Near', 'Hypothermia', 'cost.3', '•', 'Crystal', 'Shoemaker', 'Amelioration', 'Indicates', 'IO', 'that', 'the', 'Placebo', 'Condition', 'Point', 'Prisoners', 'SB', '23(d', 'Lapins', 'Heymsfield', 'Arrival', 'Received', 'stays15', 'Tigris', 'Mount', 'Nijhoff', 'Hebrews', 'Soviet', 'Far', 'Articles', 'Solferino', 'NAVMED', 'Atlantic', 'Savo', 'McChrystal', 'Main', 'Salva-', 'department99', 'Transport', 'Middle', 'factors67', 'Rock', 'Grande', 'Religious', 'Asia', 'Rocky', 'and', 'Enlightenment', 'Mars']

MONEY ['100', '15', 'over', '147', '\n', '195', 'Coordination', '731', 'Joint', '/', '50', '2310.01E.', '4):S129', ')', '1', 'billions', 'Subjects', 'Defense', '750,000', '-', '14.2', '#', 'Operations', '200', '19', '350,000', 'Institute', '821', '3,800,000', 'one', '702,000', 'Staff', '1959–1961', 'State', 'Detainee', 'the', 'Army', '106', '24', '$', '503', '20', '3,000', 'more', '500', '6', '3', '200,000.18', 'Program', '9.4']

NORP ['§', 'Informa', 'Communist', 'Point', 'Nicaraguan', 'Nazi', 'Schwatrz', 'shamans', 'Egyptian', 'Turks', 'Asians', 'Safeguards', 'JA', 'Gegenauslese', 'Palestinians', 'anesthetist', 'QuikClot', 'Reports.aspx?sa.x=0&sa.y=0&sa=Search&site=iom_reports&client=iom_frontend&output=xml_no_dtd&filters=inme', 'D', 'Vaccines', 'SIMLM', 'Paulina', 'Hispanics', 'Jew', 'Aryans', 'non', 'Cambodian', 'anti', 'Spanish', 'Humanitarian', 'Christians', 'Hindu', 'Novack', 'Hispanic', 'Clinicians', 'Puritans', 'a)(Auslese', 'Indians', 'Excessive', 'Continental', 'Iraqis', 'Filipino', 'UN', 'sta-', 'Plans', 'antiauthoritarian', 'Stenographic', 'Filipinos', 'Lutherans', 'Hippocrates']

ORDINAL ['3RD', '28th', '12th', 'second', '1st', 'Third', '546th', '24th', 'first', '10cc', 'fiftieth', '21st', '4th', 'Seventh', 'fourth', 'third', 'firstly', '2nd', '36th', '50th', '19th', '20th', 'Fourth', 'Secondary', '3rd', '1946–49', '9th', '9ml', 'sixth', '14th', 'secondary', '22nd', 'Second', '44th', 'CoTCCC', '48th', 'tertiary', 'mosquito', '6th', '8th', 'NDMS.73', '84th', 'Thirdly', '11th', '41st', '40th', '18th', '50ff', 'DoD', '47th']

ORG ['Shortly', 'American', 'Synopsis', 'Damman', 'Wood', 'Explosives', 'Dr', 'MEB', 'Leonard', 'SMOG', 'Gottleib', 'Bilateral', 'Regulars', 'O&M', 'SBRAME', 'AEC', 'PROGRAM', 'Fig', 'VOR', 'https://www.army', 'CWC', 'Euro-', 'Sidgwick,18', 'Mill', 'METC', 'Constitution.5', 'Route', 'Receiving', 'Aging', 'RITTER', 'Porträt', 'Leach', 'xiv', 'Wachholtz', 'Schachter', 'Tzameret', 'SC', 'CLINICAL', 'education', 'Sturm', 'USPSTF', 'Acquisition', 'Chamber', 'Moskos', 'Proof', 'Geographic', 'Mannitol', 'crescent', 'Calif', 'VAP']

PERCENT ['92', '(', 'every', '16', '70', '9.1', '29', '0.2', 'greater', 'States', 'between', 'Only', 'fifty', 'percent', '35', '3.4', '7.8', '32', '74', '50%–60', '23', '1.5', '38', '66.8', '23.4', 'at', '34', '18', '11', '100', '6', '0.7', '83', 'the', '4.5', '82', '~50', 'remaining', '32.7', '2', '88', '80%–100', '12', 'and', '57', '73.5', '62', '0', '600.94', 'May']

PERSON ['Migration', 'Mello', 'Gamma', 'Keep', 'WHS', 'Beam', 'Hooker', 'Borbély', 'Staat', 'thereof', 'Freiberg', 'Germ', 'Garfield', 'Hematologic', 'Wikler', 'Ted', 'Maslyn', 'Perfidy', 'Knight', '-Administer', 'DC', 'Kotora', 'Satava', 'X', 'Zeiv', '2005;25(7):862–876', '1997;102(2):283–309', 'Responsibility', 'drunkenness.19,20', 'Knox', 'McBarron', 'Marine', 'Auerbach', 'Lerner', 'Methyl', 'Clements', 'http://www.realwarriors.net/active/treatment/', '1994;49(8):1873', 'SURG', 'Diaz', 'Tsuneishi', 'Donnelly', 'Slow', 'Changes', 'Cadet', 'Skylab', 'l’Anatomie', 'Wolthuis', 'Bull', 'Surveillance1']

PRODUCT ['TCCC', 'Critical', 'E-7', 'Sonata', 'S117', 'Alpha', 'Time', '9', 'C-130', 'an', 'You', 'Crystalloids', 'As', 'Up', 'Receipt', 'Human', '\n \n', 'Status', 'World-', '8_1', 'Atoll', 'Pain', 'Airfield', 'MX', 'Privacy', 'Contents', '747', 'Assumptions', 'ans', 'office18', '1)/Marine', 'Raise', 'E2', 'Decreased', '2', 'Ethics', 'Electrolyte', 'Obesity', 'E.', '600', 'Captain', 'DoD.4–6', '1:10,000', 'Globemaster', 'frequently.33', 'Solar', 'Difficult', 'V', '767', 'Contemp']

QUANTITY ['2.2', 'feet', '17,000', 'ton', 'hundred', 'about', 'grams', 'm/7,874', '4', '907', '/', '23', '800', 'bolus', 'mg', 'every', 'million', 'centimeters', 'metric', '0.5', '5', 'the', '6', 'miles', 'liter', 'two', '22,236', '2,500', 'Mile', '40', 'm/8,000', '20,000', '300', 'to', 'LIDOCAINE', 'only', '2g', '100', 'medi-', '89', 'per-', 'approximately', '1.275', '380', '70', '2,000', 'per', '15,000', '2mL', '30,000']

TIME ['next', '1950;132(5):849–866', 'late', 'a', 'ten', 'on', 'Last', 'One', 'few', '1,500', '\n', '1994;3(1):52–59', '50', 'first', '100', '1991;1:96–104', '127', '31', '2010;24(1):48–59', 'an', '400', 'all', 'under', '1996–12', 'at', '1994;159(1):55–59', '24-', '40', 'dawn', '88', 'longer', 'min', 'kg', '18', 'seconds', 'afternoon', '2013;114(3):785–801', 'inches', 'HOURS', '1992;8(1):41–47', 'night', 'following', 'midday', 'couple', '0.1–0.4', '11', 'That', '45', 'morning', 'am']

WORK_OF_ART ['Jackson', 'Triple', 'Happen', 'INJURY', 'Diminishing', '19', 'FFP', 'Active', 'Contraction', 'Helsinki', 'South', 'Coma', '4', 'Culture', 'Corps', 'Report', 'PRISONERS', '‘', 'MC', 'Controversy', 'Nation', 'Distancing', 'Riverside', 'term', 'Ecole', 'Have', '40%.9', 'Agency', 'Confidentiality', 'Prac-', 'Workup', 'Effect', 'tice', 'Unit', 'Grid', 'Doctor', 'Bacteriological', 'Minor', 'Road', 'Washington', 'Ethical', 'Experimentation', 'Rotor', 'Degrading', 'AND', 'Jahre', 'Control', 'Significance', 'Obstruction', 'Balancing']

In [13]:

domain_doc_ners_df.ent_type.unique()

array([nan, 'CARDINAL', 'DATE', 'ORG', 'GPE', 'PERSON', 'EVENT',
       'ORDINAL', 'FAC', 'PERCENT', 'TIME', 'WORK_OF_ART', 'LOC',
       'PRODUCT', 'NORP', 'LAW', 'MONEY', 'QUANTITY', 'LANGUAGE'],
      dtype=object)

In [19]:

for entity_type, entity_type_df in domain_doc_ners_df.groupby('ent_type'):
    print()
    mask_series = entity_type_df.ent_phrase.isnull()
    texts_list = sorted(entity_type_df[~mask_series].ent_phrase.unique())
    print(entity_type, random.sample(texts_list, min(len(texts_list), 50)))

CARDINAL ['300', 'fewer than half', '1992;22(2):15', 'approximately 30,000', '2003;74(4):309–314', '2015;20(3):311–321', '11.8.6', '07', '48', '174', '16-27', '901', '1959:59(1):1–9', '2007;92(5):821–833', '44-141', '182', '0.4', '2012;83(1):1–6', '2015;132(18', '2011;34(9):1189–1195', 'at least 5,000', '3-100', '1988;108:125–130', '630', '1985,87(2', '521', '2011;20(1):62–66', '2013;178:827–828', '1974;32(1):327–342', '2014;14(3):13–38', '1994;9(5):278–282', 'At least 300', '2009;13:14–17', '10–15', '175', '1776.2', 'Edu-', '3–47', '99–122', '742,800', '2013;13(1):77–85', '5-127', '0.58', '3 to 5', '0.6', '667', 'between 500', "4'8", '30-4', '30 to 40']

DATE ['31 January 2017', '40', 'September 27, 2018', '7-16', '1945–1948', '8-84', 'Prior to 1956', '17 May 1998', 'the past 20 years', '31\nMarch', 'more than 7 days', '15 October 1994', '1964).10', 'under 15 years of age', '1 to 2 nights', 'Between 1955 and 1967', '1980;Art', 'the early\nevening', '2002', '5 decades', '8-44', '8', '86\n1997', 'the \n14th century', 'December 2, 1984', 'December 7, 2016', '80s', '11 March', '2012-04', '7-54', '1960', '11 April 1963', 'Two 1977', 'almost a decade later', 'six weeks', 'December 2010', '1897;Sep:221–228', 'July 17', 'the 21st\ncentury', '4 or 5 years', 'fourteen days', 'May 29–June 1, 1996', '3 days ago', 'July 7, 2008', '1930', '1855', '06 October 2019', 'February 12, 2017', '6-45', '1-29']

EVENT ['World War I. Intra-theater patient', 'Geneva Protocol’s', 'a Central Prisoners of War Information Agency', 'World War I and', 'Operation Iraqi Freedom-Operation Enduring Freedom', 'Future War', 'OCCUPATION', 'the International Military\nWar Crimes and Enforcement of the Law of Armed Conflict', 'the "Golden Hour', 'the \nAmerican Revolution', 'The Harris Poll', 'US-Russian START II', 'Guideline 9', 'Tet 1968', 'Paris Convention on the Prohibition', 'Operation Enduring Freedom and Operation Iraqi Freedom', 'the American Revolution', 'the World II', 'The War-Decision Law', 'the Second World War', 'Paris World’s Fair', 'Geneva Protocol I Relating', 'Emergency War Surgery', 'Operation Enduring Freedom', 'Cold War Germany', 'Geneva Gas Protocol41', 'World Wide', 'Geneva\nConventions', 'Thirty Years War', 'EMMA', 'Nazi War on Cancer', 'the International Covenant on Civil and Political Rights (ICCPR', 'Arab-Israeli war', 'Geneva Protocol II', 'American Laws of War', 'Enduring Freedom', 'Lebanon War', 'Operation Iraqi Freedom and Operation \nEnduring Freedom', '1st Session', 'The Seven Ages', 'the War Years 1965', 'the “Tokyo War Crimes Trial', 'the Military Commissions Act', 'World Medical\nAssembly', 'Hurricane Mitch', 'the Crimean War', 'Cold \nWar', 'Naval War', 'General Social Survey', 'Gulf-War']

FAC ['the Reich Marshal', 'the Presidential Palace, Port', 'Obremskey WT', 'PO', 'C-141', 'Fort Benning', 'Whole Blood', 'Howe EG', 'Paragraph 32', 'Camp Buehring', 'the Vietnam Memorial', 'Table 2', 'TCCC Casualty Card', 'Wikimedia Commons', 'Oak Ridge Hospital', '288', 'Guantanamo', 'Acetaminophen IV/IO', 'Table 1-1', 'Unit 731', 'Table', 'Avenue Appia', 'Delaney Park Strip', 'Role 5', 'the Martens Clause', 'the Brooklyn Bridge', 'CREDIBILITY', 'Fort\nDetrick', 'STS-4', 'Van Emmerik H', 'the Scene\nRole 1', '4(4', 'the Yerkes-Dodson Law', 'Ceftriaxone IV/IO + \nMetronidazole IV/IO', 'Camp NM', 'The Nurses Memorial', 'Kuna ST', 'the Prolonged Field Care Setting', 'Zajtchuk R', 'Bagram Airfield', 'the Common\nRule', 'NUREMBERG CODE2', 'Henderson Hall', 'Role 2 to Role 3', 'Screening\xa0Criteria', 'spouse29', 'Proctor JL', 'the Bampton Lectures', 'Administer Calcium and Tranexamic Acid', 'Algorithm']

GPE ['COCOM', 'Hammond', 'Luz', 'Boston', 'Washington, DC: Center of Military\nHistory', 'Osaka', 'Great\n', 'Wade NG', 'RM', 'Latvia', 'the United States of America', 'Washington, DC:', 'Japan', 'Anchorage', 'Norway', 'El Salvador', 'Suffice', 'Honduras', 'El Salvador:', 'Towson', '—United States', 'McFarland', 'Repeat', 'Egypt', 'Penicillin', 'Atovaquone/', 'appendicitis', 'New York: Anchor Press', 'Mannheim', 'Thebes', 'Karrieren', 'guidance.12', 'Weber W', 'Tunguska', 'Geriatrics', 'Croatia', 'Pittsburgh', 'Canada', 'Newton', 'Fascist Italy', 'Alexandria', 'Bonica', 'Buchenwald', 'China', 'Research', 'Littlefield', 'USSR.52\nPlague', 'Dugway', 'Logistics', 'New Jersey']

LANGUAGE ['adaptation.39,40', 'French', 'Hebrew', 'Filipino', 'Gironda', 'Chinese', 'stress35', 'English', 'stages13', 'Arabic', 'Spanish', 'Latin']

LAW ['Table 13', 'Article 1(2', 'Article 51’s', 'ARTICLE 5', 'Article 8\nThe', 'Chapter 12', 'Delaney', 'article 22', 'The Universal Declaration of Human Rights', 'Roe 429 US 589', 'Article 120c', 'Article 105', 'Article 23(e', 'Section 17.50', 'Article 106a', 'The “Code of Ethics for Nurses with Interpretive\nStatements', 'Article 129', 'Chapter 7,', 'article 36', 'Conventions or Protocols', 'Article\n5', 'the “Anti-Epidemic Water\nSupply and Purification Bureau', 'Article 5\n1', 'article 24', 'Article 121', 'Article 15s', 'The Camp Bastion APS', 'the International Conference at Geneva', 'Chapter 6 \n', 'section 1.6.3.4', 'Article 51', 'Chapter 23', 'The Uniform Code of Military Justice', 'Article 80', 'Table 11-1', 'Article 125 (', 'Chapter 4,', 'Section 1d', 'Article 9', 'Article 107', 'Article 52(3', 'Chapter 40', 'article 39', 'the Uniform Code\nof', 'the Versailles Treaty', 'Article 128', 'chapter II', 'Article 108a', 'Article 2\nPersons', 'Chapter\n1']

LOC ['Ware JE Jr', 'Heymsfield SB', 'Surface Area', 'Central\nPrisoners of War Information Agency', 'ATTACK', 'the Far East', 'En Route Date/Time\nCall Received Date/Time\nArrival\nTransport', 'Key Resolve', 'the Persian Gulf', 'the Barbary Coast', 'the Persian Gulf for Operation', 'the Central Prisoners of War Information\nAgency', 'Selby JB', 'the Atlantic Ocean', 'Hartle AE', 'Marital', 'Upper Saddle River', 'Central America', 'Philistines', 'Shok Valley', 'Latin\nAmerica', 'Observe', 'Outbreak', 'Outbreak of Hostilities', 'Latin America Dispatch', 'Platoon', '• Extraglottic', 'West', 'Articles', 'Mitigation', 'analgesia', 'Southeast Asia', 'the Role 1 and', 'Humvee', 'Left', 'the Near East', 'Eden Swift', 'Asia-Pacific Military Health Exchange', 'the Middle \nEast', 'Tuskegee', 'Hareyama\n', 'Indian Pass', 'Sun', 'relief,17 Ma-', 'Central', 'Somme', 'Hippocratic Oath', 'Red Crystal', 'the Geneva\nReligious and Cultural Considerations', 'Guantanamo Bay']

MONEY ['4) US Department', 'hundreds of billions', 'around 9,500,000 dollars', '4) Protection of Human Subjects', '$4 million', '450 mL', 'over $300,000', '$9.68 million', '220', '200', '6) US Navy Bureau of Medicine', '$104 billion', '1) US Department of Defense', '200,000.18', 'DoD', '4,000', '2310.01E. DoD Detainee Program', '750–1,000 mL', '330', '3) US Joint Chiefs of Staff', 'an additional $5 million', '588 NE2d 1232', '18,000', '$3 million', '106 Rangers and Special Operations', 'more than one Service', '300,000', '#, Department of Defense', '500 ml bolus', 'over $24 million', '147', '$11 million', '$1.1 billion', '100 ml', '$4.5 million', '2) Pence', '25,000', 'between\n$100,000', 'more than $57,000', '10,000', 'nearly $300,000', '15', '6) US Department', '475 US 503', '250', '821', '750,000', '1', 'D-238', '0.3 – 0.5 mL/kg']

NORP ['Ricin\nRicin', 'Encephalitis', 'Indian', 'kid-', 'Clinicians', 'Socialists', 'Democrat', 'Scientists', 'dem', 'Refer', 'Anticipated', 'Analgesic', 'Soviets', 'Roman Catholic', 'Safeguards', 'U.S. Marines', 'Historians', 'Businessman', 'pean', 'shamans', 'Intra', 'Arab', 'Cadet', 'Roman', 'Irish-Catholic', 'Soviet Siberian', 'include8(PartB', 'socialists', 'WAPS', 'Metzner', 'principles11', 'Muslim', 'Po2', 'U.S. Civilian', 'Buddhist', 'Sparacino', 'British', 'Earwood JS', 'Nazism', 'Japanese', 'Sumerian', 'indicators.8', 'Algerian', 'MSK-1', 'ing.38,39', 'North Korean', 'Smoke', 'Confucian', 'US Civilian', 'Cardiopulmonary']

ORDINAL ['secondly', '3RD', '1946–49', 'secondary', 'Tertiary', '18th', '9th', '2nd', '3rd', 'tertiary', 'NDMS.73', '50ff', '51ff', 'third', '47th', '28th', 'Secondary', 'fifth', 'CoTCCC', 'First', '546th', 'first', '12th', 'fourth', '20th', '7th', 'Secondly', 'Fifth', '6th', '41st', 'DoD', 'Third', '24th', 'fiftieth', 'Tenth', '1st', '85th', '4th', 'sixth', '50th', '10th', '10cc', 'Thirdly', 'mosquito', '21st', '5th', '11th', 'Second', '40th', '73rd']

ORG ['Externally', 'Christian Bioethics\n• Journal of Law, Medicine', 'the Management of Health Information', 'Strength Cond Res', 'Operations Command Center', 'U.S. Marine \nCorps', 'the School of Aerospace Medicine', 'Traumatic Injury Research Program', 'Conduction\nRadiation\nWork\nAir', 'Platoff GE', 'AMA Code of Medical Ethics', 'DeVellis BM', 'Tsuneishi K. The Germ Warfare Unit', 'the Uni-\nformed Services University of the Health Sciences', 'the Health \nSciences', 'International Criminal Tribunal', 'the Department of Defense\nTHE DEPARTMENT OF DEFENSE\nOrganization of the Office of the Secretary of', 'Non-State', 'Complex Blast Injury Task Force', 'Murphy JR', 'Certain Restrictions with Regard', 'Reich Main Security Office', 'the Campus Police Department', 'the Health Sciences', 'International Health Law Committee', 'Preparation and Planning', 'Civilian Hospitals', 'The Appellate Court', 'The University of Chicago Press', 'Rev Religious Res', 'Meet \nMedical Standards\nTransferred to Army MTF', 'Personnel Command', 'Effectiveness\nToxicity\nTreatment\nAlternatives\nRecommended', 'Hannay D. Religion', 'NRO', 'University of Alabama Press', 'principle.3(p126', 'The Revised Oxford Translation', 'HOSPITALS', 'https://dod.defense.gov/Portals/1/Documents/pubs/Principle-Promulgation-Memo.pdf', 'TR-2', 'Campbell M', 'Nietzsche', 'War Crimes', 'Lain Entralgo P. La Relación Médico-Enfermo', 'Saunders', 'General Counsel', 'Nerve Agents', 'The Historiography of German Cinema and Television', 'Apollo Command Module']

PERCENT ['10% to 35%', '55%', '34%', '64.8%', '23%', '45%', '90%', '56%', '10-20%', '19%', '67.3%', '68.5%', '24%', 'nearly 50%', '16%', 'Only about 4%', '6.5%', 'Approximately 20%', '100%', '17%', '14.8%', '7% to 14%', '73.9%', 'approximately 90%', '345%', '90.9%', '81%', '60 and 90%', 'approximately 1%', '29%', 'the remaining 5%', '8-55,10', 'about 50%', '90 percent', 'fifty percent', 'nearly 75%', '33%', 'fewer than 14%', '41%', '65.8%', '73%', '2-17 Cavalry', '67%', 'Only 15%', '81.5%', '0%\n67%', '32%', 'over 91%', '6.9%', '92%']

PERSON ['Fort Meade', 'Have H. Jeremy Bentham', 'Hammeke T. Benefits', 'probable.1(p198', 'Carlson KF', 'Surface', 'X-20 Dyna-Soar Spaceplane', 'Gunston B', 'Jones M', 'Charles Wilson', 'Norman M. Peace', 'Davis', 'Sidel', 'Alam H', 'THURMAN', 'Michael S. Tripp', 'Livingston', 'Von Clausewitz C. On', 'Lillibridge SR', 'Evans P. Fluid', 'Administer Ketamine', 'e. Fluid', 'deployment.71 \nSpouse Well-Being', 'Joseph Kotora', 'Gostin LO', 'phosgene', 'Sanford\nBates', 'Scipio Africanus', 'Saville BR', 'Hamann M. Die Morde', 'Naito', 'ECMO', 'Sauer LM', 'Moberg D', 'Zamparo P. Human', 'Wakefield J. NIH', 'judg-\nment', 'Mimi Levine', 'Phil Renzullo', 'Madden', 'Nindl BC', 'Goodie JL', 'STEPHEN D. GIEBNER', 'Jones WHL', 'MACE', 'Head Tilt', 'Joseph Earle Moore', 'Pitt V', 'Tricare Select', 'http://cdmrp.army.mil/annreports/1999annrep/section1.htm']

PRODUCT ['•\nNoncombatant', 'Task Force Report', '• Ask', '• Deployed', 'Promise', 'Notes', 'J Force Q. 2012;3rd', 'RCM] 303', '• \nDocument', 'Antiparasitic \nRegimens', 'deployment97', 'Pyridostigmine', 'Role 1a', 'Flight Stressor/ Altitude Management', 'Express Empathy', 'B-52', 'Cyber', 'Experiments', 'Air Force Doctrine', 'V2/T2', 'S31', 'CJCS Instruc-', 'Arme-', '• Safeguard', 'a Role 3', 'Sonderkommando', '880-Yard', 'Procedures', 'Volunteer Force', '• \n', 'Guidelines', '1A', '• Skin', '• \nImpaired', 'Accident', 'CCW Protocol III', '• \nRecognition', 'Appendix 1', '• Bioethics\n• Cambridge', '500cc fluid', 'MACE', 'GWS Sea', 'the AK-47 rifle37(pp267–268', 'GI Medications \nRanitidine PO \nPrilosec PO', 'the Aqua Lung', 'F\nG\nH', '• Cooperation', 'Task 1', 'Discovery', 'appropriate.95–98']

QUANTITY ['50 mL', '2-mile', '300 meters', 'two meters', '1,200 m/3,937 ft to', '70 miles', '1.5 mg/kg', '30 degrees', '3,048 m/10,000 ft above sea', '60 km', '1 liter', '2,000 km', '100 ml/hour', '0.45 kg', '1-methylpropylester', '7.62-mm', 'ten cubic centimeters', 'less than 10mm', '250 ml of', '30 ml/kg', 'just 30 miles', 'no more than 2 hours', '1 ton', '1,028 kg', '500 mL', 'approximately 3 inches', '2 grams', '30 miles', '100mg per minute', 'thousands of pounds', '11.1 short tons', '50 ml', '50 yards', '380 mm', '5-foot', '55 miles-per-', '1 ml', '17,000 feet', '3,000 to 6,000 yards', '0.4-2.0', '0.5-1', 'some 20,000 tons', '6.8mm', '2,400 m/7,870', '25cm', '6,000 feet', '34 ft', '1.275 kg', 'more than 25 kilograms', '89 nauti-\ncal miles']

TIME ['1.4–2.3 mg/', 'midday', '24-\nhour', '2 \nhours', '219.116(b)(5', '2-L', '5-15 minutes / Duration', '24- hour', 'The night', '4 hours', '2 minutes', 'the next \nhour', '19:16', 'a few hours', 'less than 6 hours', '48-hour', '24 hours', 'each minute', '30\nminutes', '6-11', '10-minute', '24 to 72 hours', 'the afternoon', '7-hour', '1-2 hours', 'night', '5-10', '100-hour', '68 seconds', 'every hour', '1950;132(5):849–866', '1 Hour', '4-6 hours', 'dawn', 'hour', '219.103(b)(5', 'daytime', 'later than 3 hours', '30 seconds', 'every 2 hours', '7 to 9 hours', '2-11', '1960s.9', 'that morning', 'about 88 minutes', '15 minutes', 'a few minutes', '20 to 25 hours', 'approximately 3 hours', '• long hours']

WORK_OF_ART ['What-\n3words', 'Only Genetically Healthy Offspring Ensure\nthe Strength of the People', 'Wounded and Sick in Armed Forces', 'Expressive Therapies for PTSD', 'Developing Efforts\nRISK', 'The Declaration', 'Bacterial Factory', 'Guidelines on Reporting\nIncompetent, Unethical or Illegal Practice', 'Comments on the Guidelines', 'JCE', 'Under Orders, Under Fire', 'Basic', 'Ecole Royale Militaire', 'Appellate Genetic Health\nCourts', 'Code for Nurses With Interpretive Statements', 'Fears', 'Personnel Evading Capture \n Military', 'Psychological Well-Being\nEmotional Factors Relevant to Psychological Well-\nBeing\nPositive', 'Level 5', 'Triple Option \n', 'View', 'the Treatment of Prisoners of War', 'the Laws of War', 'Geneva Convention Amelioration of the Condition of the Wounded and Sick of Armies', 'The Principle of Paternalism\nThe final', 'Acetaminophen/Hydrocodone', 'Military Communication', 'Operational” Conservation\nConservation of military (', 'All Volunteer Force', 'Quiet Professionals', 'Heat Casualty Management,6', 'Vesicants', 'Marginal Problems', 'The Battle of San Romano', 'Roles and Responsibilities of the Military Medical Officer\nBEING A MILITARY MEDICAL OFFICER', 'Geneva Convention Relative to the Treatment of Prisoners of War of July 27, 1929', 'Lorazepam', 'the Diary of Richard C. Mallonee', 'Permissible Human Experiments', 'NATURE OF THE OCCUPATION GOVERNMENT', 'Nuclear Forces] Treaty', 'Experimental Methods\nTheoretical Framework\nBiases in Empirical Research on Ethics', 'Don’t Ask', 'Central Sensitization\n• Neuroplastic', 'Universal Declaration of Human Rights', 'The Increasing Concern About Research Risk and Liability', 'Evacuation in World War II', 'Bag Size \nAdd', 'Military \nRules of Evidence', '• Rubbing']


## Explore column groupbys

In [16]:

for file_path, file_path_df in domain_doc_ners_df.groupby('file_path'):
    print(file_path)
    display(file_path_df.sample(4).dropna(axis='columns', how='all').T)
    break

../data/Domain_Knowledge/DoDTR-Data-Dictionary-External.pdf

,4499,5822,19817,4045
file_path,../data/Domain_Knowledge/DoDTR-Data-Dictionary...,../data/Domain_Knowledge/DoDTR-Data-Dictionary...,../data/Domain_Knowledge/DoDTR-Data-Dictionary...,../data/Domain_Knowledge/DoDTR-Data-Dictionary...
nlp_word,\n,at,],210
nlp_tag,_SP,IN,-RRB-,CD
nlp_type,NaN,NaN,NaN,CARDINAL
nlp_pofs,SPACE,ADP,PUNCT,NUM

In [17]:

for nlp_tag, nlp_tag_df in domain_doc_ners_df.groupby('nlp_tag'):
    print(nlp_tag)
    display(nlp_tag_df.sample(4).dropna(axis='columns', how='all').T)
    break

$

,1140912,1223485,1272229,58400
file_path,../data/Domain_Knowledge/Military Medical Ethi...,../data/Domain_Knowledge/Military Medical Ethi...,../data/Domain_Knowledge/Military Medical Ethi...,../data/Domain_Knowledge/Prolonged_Casualty_Ca...
nlp_word,$,$,$,#
nlp_tag,$,$,$,$
nlp_type,MONEY,MONEY,MONEY,NaN
nlp_pofs,SYM,SYM,SYM,SYM

In [22]:

from itertools import combinations

# columns_list = ['bert_entity', 'nlp_tag', 'nlp_type', 'nlp_pofs', 'ent_type']
for groupby_columns in combinations(domain_doc_ners_df.columns, 2):
    groupby_columns = list(groupby_columns)
    df = nu.get_minority_combinations(domain_doc_ners_df, groupby_columns).dropna(axis='columns', how='all')
    if df.shape[0]:
        print(nu.conjunctify_nouns(groupby_columns))
        df.file_path = df.file_path.map(lambda x: str(x).split('/')[-1])
        display(df)

bert_word and bert_entity

        bert_word bert_entity  bert_score         file_path
630880        May       I-LOC    0.985751  Ethics-ch-02.pdf
1255948     drome      I-MISC    0.857681  Ethics-ch-22.pdf
564170        den       I-ORG    0.938380     Fund ch 6.pdf
590712       MUAL       I-ORG    0.584980     Fund ch 8.pdf

bert_word and bert_score

       bert_word bert_entity  bert_score            file_path
181027         &       I-ORG    0.901232       Fund ch 15.pdf
497182       Sam       I-LOC    0.993379       Fund ch 39.pdf
65058        Sam       I-LOC    0.993311  SchauerMedicBag.pdf
65107        Sam       I-LOC    0.992895  SchauerMedicBag.pdf

bert_word and file_path

         bert_word bert_entity  bert_score                           file_path
1023195  Institute       I-ORG    0.946906                    Ethics-ch-16.pdf
110535       World      I-MISC    0.997363                       Fund ch 1.pdf
61         Medical       I-LOC    0.652290  DoDTR-Data-Dictionary-External.pdf
216935           ”       I-PER    0.669389                      Fund ch 19.pdf

bert_entity and bert_score

         bert_word bert_entity  bert_score            file_path
216972          MD       I-LOC    0.329505       Fund ch 19.pdf
65130         Team       I-ORG    0.974057  SchauerMedicBag.pdf
233231  University       I-ORG    0.974026       Fund ch 20.pdf
252726   Emergency       I-ORG    0.974023       Fund ch 22.pdf

bert_entity and file_path

       bert_word bert_entity  bert_score       file_path
375023  Medicine      I-MISC    0.656078  Fund ch 32.pdf
514387  Medicine      I-MISC    0.580280   Fund ch 4.pdf
374947        GO       I-PER    0.586359  Fund ch 32.pdf
323074  Medicine      I-MISC    0.892257  Fund ch 28.pdf

bert_score and file_path

        bert_word bert_entity  bert_score         file_path
1331774        CA       I-ORG    0.292829  Ethics-ch-25.pdf
1371307      Gulf      I-MISC    0.982336  Ethics-ch-27.pdf
1206618       ton       I-LOC    0.982311  Ethics-ch-20.pdf
279173         SC       I-PER    0.982300    Fund ch 24.pdf

file_path and nlp_word

               file_path    nlp_word nlp_tag nlp_pofs
587136     Fund ch 7.pdf      amount      NN     NOUN
704028  Ethics-ch-04.pdf  audiotapes     NNS     NOUN
715845  Ethics-ch-04.pdf     authors     NNS     NOUN
707413  Ethics-ch-04.pdf   automatic      JJ      ADJ

file_path and nlp_tag

             file_path    nlp_word nlp_tag nlp_pofs
257313  Fund ch 22.pdf  endomorphs      FW        X
509368  Fund ch 39.pdf       There      EX     PRON
218280  Fund ch 19.pdf       there      EX     PRON
487689  Fund ch 38.pdf          Hg      UH     INTJ

file_path and nlp_type

               file_path          nlp_word nlp_tag  nlp_type nlp_pofs
307524    Fund ch 26.pdf  adaptation.39,40     NNP  LANGUAGE    PROPN
872569  Ethics-ch-11.pdf               200      CD     MONEY      NUM
324586    Fund ch 28.pdf   1992;8(1):41–47      CD      TIME      NUM
338741    Fund ch 29.pdf             4,000      CD     MONEY      NUM

file_path and nlp_pofs

               file_path nlp_word nlp_tag nlp_pofs
324125    Fund ch 28.pdf      Al-      UH     INTJ
997927  Ethics-ch-14.pdf      As-      UH     INTJ
487689    Fund ch 38.pdf       Hg      UH     INTJ
152513    Fund ch 12.pdf    right      UH     INTJ

file_path and ent_phrase

,file_path,ent_phrase,ent_type,ent_start,ent_end
720642,Ethics-ch-04.pdf,the Case of the Netherlands,WORK_OF_ART,86698.0,86725.0
872113,Ethics-ch-10.pdf,Colo,PERSON,100474.0,100478.0
871580,Ethics-ch-10.pdf,Comayagua,GPE,1596.0,1605.0
871738,Ethics-ch-10.pdf,Consti-,PRODUCT,31700.0,31707.0

file_path and ent_type

                file_path   ent_phrase  ent_type  ent_start  ent_end
1228285  Ethics-ch-20.pdf      Spanish  LANGUAGE     8653.0   8660.0
278472     Fund ch 23.pdf      English  LANGUAGE    23854.0  23861.0
1370731  Ethics-ch-26.pdf  5-kilometer  QUANTITY    35158.0  35169.0
630153   Ethics-ch-01.pdf        D-238     MONEY     1524.0   1529.0

file_path and ent_start

,file_path,ent_phrase,ent_type,ent_start,ent_end
24151,DoDTR-Data-Dictionary-External.pdf,1,CARDINAL,0.0,1.0
1083145,Ethics-ch-17.pdf,Charlton,PERSON,76216.0,76224.0
1083144,Ethics-ch-17.pdf,Eda Schultz,PERSON,76204.0,76215.0
1083143,Ethics-ch-17.pdf,one,CARDINAL,76183.0,76186.0

file_path and ent_end

,file_path,ent_phrase,ent_type,ent_start,ent_end
24151,DoDTR-Data-Dictionary-External.pdf,1,CARDINAL,0.0,1.0
1083145,Ethics-ch-17.pdf,Charlton,PERSON,76216.0,76224.0
1083144,Ethics-ch-17.pdf,Eda Schultz,PERSON,76204.0,76215.0
1083143,Ethics-ch-17.pdf,one,CARDINAL,76183.0,76186.0

nlp_word and nlp_tag

               file_path      nlp_word nlp_tag nlp_pofs
428732    Fund ch 34.pdf    centers.74     VBN     VERB
721915  Ethics-ch-05.pdf       debates     VBZ     VERB
740606  Ethics-ch-05.pdf  debilitating      NN     NOUN
860073  Ethics-ch-10.pdf  debilitation      NN     NOUN

nlp_word and nlp_type

,file_path,nlp_word,nlp_tag,nlp_type,nlp_pofs
55699,Prolonged_Casualty_Care_Guidelines_21_Dec_2021...,,NN,WORK_OF_ART,NOUN
429927,Fund ch 34.pdf,START,NNP,WORK_OF_ART,PROPN
903805,Ethics-ch-11.pdf,Exposures,NNS,ORG,NOUN
539595,Fund ch 40.pdf,Express,NNP,PRODUCT,PROPN

nlp_word and nlp_pofs

                file_path  nlp_word nlp_tag nlp_pofs
265596     Fund ch 23.pdf     cais-      JJ      ADJ
1007838  Ethics-ch-15.pdf     cloud      VB     VERB
876738   Ethics-ch-11.pdf  clouding     VBG     VERB
350693      Fund ch 3.pdf    cloudy      JJ      ADJ

nlp_tag and nlp_type

                file_path  nlp_word nlp_tag  nlp_type nlp_pofs
731053   Ethics-ch-05.pdf  Allocate      VB       LOC     VERB
613500      Fund ch 9.pdf       Who      WP     EVENT     PRON
1247976  Ethics-ch-21.pdf         ;       :      TIME    PUNCT
262526     Fund ch 23.pdf         :       :  QUANTITY    PUNCT

nlp_tag and nlp_pofs

                                     file_path nlp_word nlp_tag nlp_pofs
550433                           Fund ch 5.pdf      ”41      ''      AUX
1487127  ARN19354_FM 6-27 _C1_FINAL_WEB_v2.pdf      doe      UH      AUX
1112745                       Ethics-ch-19.pdf     per-     ADD      AUX
280512                          Fund ch 24.pdf      al-     SYM      AUX

nlp_type and nlp_pofs

                file_path       nlp_word nlp_tag nlp_type nlp_pofs
174295     Fund ch 14.pdf           that      IN      LOC    SCONJ
120391      Fund ch 1.pdf  Unfortunately      RB    EVENT      ADV
1075798  Ethics-ch-17.pdf           kid-      DT     NORP     PRON
504381     Fund ch 39.pdf           that      IN     DATE    SCONJ

ent_phrase and ent_type

,file_path,ent_phrase,ent_type,ent_start,ent_end
1228351,Ethics-ch-20.pdf,Jerome,PERSON,12521.0,12527.0
109923,TCCC_Quick_Reference_Guide_2017.pdf,KK,ORG,81064.0,81066.0
110110,TCCC_Quick_Reference_Guide_2017.pdf,KIRKPATRICK JW,ORG,85757.0,85771.0
136068,Fund ch 10.pdf,a particular day,DATE,34898.0,34914.0

ent_phrase and ent_start

,file_path,ent_phrase,ent_type,ent_start,ent_end
907155,Ethics-ch-11.pdf,#,CARDINAL,153158.0,153159.0
590583,Fund ch 7.pdf,O&M,ORG,64202.0,64205.0
590562,Fund ch 7.pdf,O&M,ORG,61982.0,61985.0
109450,TCCC_Quick_Reference_Guide_2017.pdf,Nystagmus,GPE,50625.0,50634.0

ent_phrase and ent_end

,file_path,ent_phrase,ent_type,ent_start,ent_end
907155,Ethics-ch-11.pdf,#,CARDINAL,153158.0,153159.0
590583,Fund ch 7.pdf,O&M,ORG,64202.0,64205.0
590562,Fund ch 7.pdf,O&M,ORG,61982.0,61985.0
109450,TCCC_Quick_Reference_Guide_2017.pdf,Nystagmus,GPE,50625.0,50634.0

ent_type and ent_start

,file_path,ent_phrase,ent_type,ent_start,ent_end
998575,Ethics-ch-14.pdf,Nazi,NORP,24497.0,24501.0
233009,Fund ch 2.pdf,US Army Combat Readiness Center,ORG,48399.0,48430.0
252691,Fund ch 21.pdf,US Department of Agriculture,ORG,48394.0,48422.0
158832,Fund ch 12.pdf,Navy,ORG,48390.0,48394.0

ent_type and ent_end

,file_path,ent_phrase,ent_type,ent_start,ent_end
745105,Ethics-ch-05.pdf,European,NORP,24576.0,24584.0
849929,Ethics-ch-09.pdf,Army,ORG,48862.0,48866.0
25009,DoDTR-Data-Dictionary-External.pdf,GCS,ORG,48860.0,48863.0
291517,Fund ch 24.pdf,NASA,ORG,48848.0,48852.0

ent_start and ent_end

,file_path,ent_phrase,ent_type,ent_start,ent_end
472973,Fund ch 36.pdf,Burlington,ORG,63291.0,63301.0
1353592,Ethics-ch-25.pdf,Rwanda,GPE,90370.0,90376.0
805990,Ethics-ch-07.pdf,A11,PERSON,90370.0,90373.0
1022929,Ethics-ch-15.pdf,the Nuremberg Doctors Trial,ORG,90368.0,90395.0